.center {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: right;
  padding: 32px 60px !important;
}
.box {
  width: 120px;
  height: 55px;
  background-color: #ccc;
  border-radius: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chil {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
  margin-left: 5px;
  transition: 0.5s;
}

/*Button*/
.duck {
  background-image: url("https://th.bing.com/th/id/OIP.YDNmVwkdhr9HVffIiOYU7QHaEH?pid=ImgDet&rs=1");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.duck > div {
  background-color: #1d204b;
}
.duck > div > div {
  transform: translate(65px);
}
