*{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.White{
    color: #fff !important;
}
.fixed{
    position: fixed !important;
}

#header{
    width: 100%;
    justify-content: space-between;
    padding: 24px 94px;
    font-family: Arial;
    background-color: #37517e;
    z-index: 999;
}

.header-scroll {
    background-color: rgba(39, 55, 85, .9) !important;
}

.asha{
    font-size: 32px;
}

#header,#header>div,
#header>div>ul{
    display: flex;
    align-items: center;
}
#header>div>ul>li{
    padding: 0 16px;
}
#header>div>ul>li>a{
    color: #fff;
}
.get{
    display: inline-block;
    padding: 8px 16px !important;
    border: 3px solid #418ebe;
    border-radius: 32px;
}


.b-top{
    padding: 102px 94px 0;
    background-color: #37517e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-top-left{
    width: 50%;
}

.b-top-left>h1{
    font-size: 48px;
    letter-spacing: 1.6;
}
.b-top-left>h3{
    font-size: 22px;
    font-weight: 550;
    color: #93a1ba;
    letter-spacing: 1.6;
}

.b_img{
    width: 50%;
}
.b_img>img{
    width: 100%;
    display: block;
    animation: up 4s linear infinite;
}

.btn>button{
    padding: 16px 32px;
    border-radius: 32px;
    border: none;
    margin-top: 64px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.btn>button:first-child{
    background-color: #4da4d9;
    color: #fff;
    margin-right: 16px;
}

.btnHover:hover{
    transition: 0.5s;
    background-color: #418ebe !important;
    cursor: pointer;
}

.btn>button:last-child{
    background-color: #37517e;
}


.color37517e{
    color: #37517e !important;
}
.fs-16{
    font-size: 16px !important;
}
.footer{
    width: 100%;
    padding: 0 102px;
    margin: 64px 0;
    letter-spacing: 1;
    display: flex;
    justify-content: space-between;
    color: #37517e;
}
.footer>div{
    width: 30%;
}

.footer>div>p{
    margin: 24px 0;
}
.f-ul>li>a{
    color: #635e5e;
    font-size: 14px;
}
.f-ul>li{
    margin: 24px 0 24px 12px;
    position: relative;
}
.before{
    font-size: 14px;
    position: absolute;
    left: -14px;
    bottom: 2px;
    color: #4da4d9;
}
.f-ul>li:hover > a{
    color: #4da4d9;
}
.f-icon{
    display: flex;
}
.f-icon>i{
    background-color: #4da4d9;
    width: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin: 8px;
    color: #fff;
}

.s-footer{
    display: flex;
    padding: 32px 94px;
    background-color: #37517e;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
}
.s-footer>p>a{
    color: #4da4d9;
}

@keyframes up{
    0%{
        transform: translateY(4px);
    }
    50%{
        transform: translateY(24px);
    }
    100%{
        transform: translateY(4px);
    }
}